/* Variables */
:root {
    --green-board-color: rgb(122, 148, 90);
    --green-light-square-color: rgb(235, 236, 211);

    --brown-board-color: rgb(174, 138, 104);
    --brown-light-square-color: rgb(236, 218, 185);

    --board-color: var(--brown-board-color);
    --light-square-color: var(--brown-light-square-color);

    --move-indicator-color: rgba(0, 0, 0, 0.2);

    --board-square-width: min(
    calc((100vh - 2*var(--padding) - 2*48px - 6*2px - 2*var(--margin)) / 8),
    calc((100vw - 2*var(--padding) - 32px - 4*2px - 2*var(--margin)) / 8));
}

/* Evaluation bar */
#eval-bar {
    font-weight: bold;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    float: left;
    width: 32px;
    height: calc(2 * (4*var(--board-square-width) - var(--padding)));
    padding: var(--padding) 0;
    border: var(--border);
    border-radius: var(--box-radius);
    background-color: var(--contrast-background-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Chess board and piece-area */
#chess-board, #piece-area {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#chess-board {
    display: grid;
    grid-template: repeat(8, var(--board-square-width)) / repeat(8, var(--board-square-width));
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow: hidden;
    position: relative;
    width: max-content;
    margin: 0 var(--padding);
    border: var(--border);
    border-radius: var(--box-radius);
}
#piece-area {
    display: block;
    position: absolute;
    width: max-content;
    z-index: 5;
}
.board-square {
    overflow: hidden;
    position: relative;
    background-color: var(--board-color);
    outline-offset: round(up, calc(var(--board-square-width) / -25), 1px);
}
.light-board-square {
    background-color: var(--light-square-color);
}
.chess-piece {
    position: absolute;
    width: var(--board-square-width);
    height: var(--board-square-width);
}

/* File and rank indicators */
#file-indicator, #rank-indicator {
    font-weight: bold;
    display: flex;
    position: absolute;
    z-index: 3;
    pointer-events: none;
}
#file-indicator {
    bottom: 2px;
}
#rank-indicator {
    flex-direction: column;
    top: calc(var(--board-square-width) / 20);
}
.file-name, .rank-name {
    font-size: calc(var(--board-square-width) / 5);
    color: var(--board-color);
}
.file-name {
    width: var(--board-square-width);
}
.rank-name {
    height: var(--board-square-width);
}
.light-text-color {
    color: var(--light-square-color);
}

/* Ripple when any square is clicked */
.ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    animation: ripple-effect 0.5s ease-out;
}

/* Highlighted square */
.highlight-square {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    outline-offset: round(up, calc(var(--board-square-width) / -25), 1px);
    z-index: 2;
    pointer-events: none;
}

/* Legal move indicators */
.move-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 0.2s var(--emphasis-animation);
    transition: width 0.2s var(--emphasis-animation), height 0.2s var(--emphasis-animation);
    z-index: 4;
    pointer-events: none;
}
.empty-move-indicator {
    background-color: var(--move-indicator-color);
}
.capture-indicator {
    width: 80%;
    height: 80%;
    border: calc(var(--board-square-width) / 10) solid var(--move-indicator-color);
    background-color: transparent;
    box-shadow: inset 0 0 var(--move-indicator-color);
    transition: box-shadow 0.2s var(--emphasis-animation);
}
.board-square:hover > .empty-move-indicator {
    width: 50%;
    height: 50%;
}
.board-square:hover > .capture-indicator {
    box-shadow: inset 0 0 0 calc(var(--board-square-width) / 2) var(--move-indicator-color);
}

/* Promotion box */
.promotion-box {
    position: relative;
    overflow: hidden;
    width: var(--board-square-width);
    height: calc(4 * var(--board-square-width));
    background-color: whitesmoke;
    border: var(--border);
    box-shadow: 8px 16px 16px var(--shadow-color);
    animation: appear 0.3s ease-in-out;
    z-index: 6;
}
.promotion-box > button {
    padding: 0;
    margin: 0;
    border-radius: 0;
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}
@keyframes ripple-effect {
    from {
        transform: scale(0.4);
        opacity: 0.5;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
