/* Variables */
:root {
    --green-board-color: rgb(122, 148, 90);
    --green-light-square-color: rgb(235, 236, 211);

    --brown-board-color: rgb(174, 138, 104);
    --brown-light-square-color: rgb(236, 218, 185);

    --blue-board-color: rgb(100, 148, 235);
    --blue-light-square-color: rgb(243, 246, 250);

    --board-color: var(--brown-board-color);
    --light-square-color: var(--brown-light-square-color);

    --move-indicator-color: rgba(0, 0, 0, 0.2);

    --board-square-width: min(
    calc((100vh - 2*var(--padding) - 2*48px - 6*2px - 2*var(--margin)) / 8),
    calc((100vw - 2*var(--padding) - 32px - 4*2px - 2*var(--margin)) / 8));
}

/* Evaluation bar */
#eval-bar {
    font-weight: bold;
    text-align: center;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    float: left;
    width: 32px;
    padding: var(--padding) 0;
    border: var(--border);
    border-radius: var(--box-radius);
    background-color: var(--contrast-background-color);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Chess board and piece-area */
.board-container {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.chess-board {
    display: grid;
    grid-template: repeat(8, var(--board-square-width)) / repeat(8, var(--board-square-width));
    overflow: hidden;
    position: relative;
    width: max-content;
    margin: 0 var(--padding) 0 0;
    border: var(--border);
    border-radius: var(--box-radius);
}
.piece-area {
    display: block;
    position: absolute;
    width: max-content;
    z-index: 7;
}
.board-square {
    overflow: hidden;
    position: relative;
    background-color: var(--board-color);
    outline-offset: round(up, calc(var(--board-square-width) / -25), 1px);
}
.light-board-square {
    background-color: var(--light-square-color);
}
.under-dragged-piece {
    outline: calc(var(--board-square-width) / 25) solid white;
    z-index: 1;
    box-shadow: 0 0 calc(var(--board-square-width) * 3/50) calc(var(--board-square-width) / 100) rgba(0, 0, 0, 0.6);
    overflow: visible;
    &.touch-drag {
        outline: none;
        box-shadow: none;
    }
    &.touch-drag::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        height: 200%;
        border-radius: 50%;
        box-shadow: inset 0 0 0 var(--board-square-width) var(--move-indicator-color);
        transform: translate(-50%, -50%);
    }
}
.chess-piece {
    position: absolute;
    width: var(--board-square-width);
    height: var(--board-square-width);
    outline-offset: round(up, calc(var(--board-square-width) / -25), 1px);
}
.chess-piece:hover {
    outline: calc(var(--board-square-width) / 25) solid white;
}

/* File and rank indicators */
.file-indicator, .rank-indicator {
    font-weight: bold;
    display: flex;
    position: absolute;
    z-index: 5;
    pointer-events: none;
}
.file-indicator {
    bottom: 2px;
}
.rank-indicator {
    flex-direction: column;
    top: calc(var(--board-square-width) / 20);
}
.file-indicator > div, .rank-indicator > div {
    font-size: calc(var(--board-square-width) / 5);
    color: var(--board-color);
    &.light-text-color {
        color: var(--light-square-color);
    }
}
.file-indicator > div {
    width: var(--board-square-width);
}
.rank-indicator > div {
    height: var(--board-square-width);
}

/* Ripple when any square is clicked */
.ripple {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    animation: ripple-effect 0.5s ease-out;
}

/* Highlighted square */
.square-highlight {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.5);
    outline-offset: round(up, calc(var(--board-square-width) / -25), 1px);
    z-index: 3;
    pointer-events: none;
}
.square-highlight.permanent {
    z-index: 2;
}

/* Legal move indicators */
.move-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: fade-in 0.2s var(--emphasis-animation);
    transition: width 0.2s var(--emphasis-animation), height 0.2s var(--emphasis-animation);
    z-index: 6;
    pointer-events: none;
}
.empty-move-indicator {
    background-color: var(--move-indicator-color);
    &.hovered {
        width: 50%;
        height: 50%;
    }
}
.capture-indicator {
    width: 80%;
    height: 80%;
    border: calc(var(--board-square-width) / 10) solid var(--move-indicator-color);
    background-color: transparent;
    box-shadow: inset 0 0 var(--move-indicator-color);
    transition: box-shadow 0.2s var(--emphasis-animation);
    &.hovered {
        width: 70%;
        height: 70%;
        box-shadow: inset 0 0 0 calc(var(--board-square-width) / 4) var(--move-indicator-color);
    }
}

/* Promotion box */
.promotion-box {
    position: relative;
    overflow: hidden;
    width: var(--board-square-width);
    height: calc(4 * var(--board-square-width));
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.2);
    animation: appear 0.3s ease-in-out;
    z-index: 9;
    & > button {
        padding: 0;
        margin: 0;
        border-radius: 0;
        outline-offset: -2px;
    }
    & > button:hover, & > button:focus-visible {
        background-color: rgba(0, 0, 0, 0.05);
    }
    & > button:focus-visible {
        outline: 2px solid rgb(42, 100, 227);
    }
}

/* Animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
}
@keyframes ripple-effect {
    from {
        transform: scale(0.4);
        opacity: 0.5;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
